/* color parlet */
:root{
    --brown: #442925;
    --yellow: #fbbe28;
    --lightRed: #fd9b9b;
    --white: #ffffff;
    --altWhite: rgb(209, 207, 207);
}
/* color parlet */
/* :root{
    --lighterGreen: #fafdfa;
    --deepGreen: #60d66a;
    --ash:#707070;
    --white: #fff;
  } */
/* navbar */
nav.black-scroll{
    /* background: rgb(219, 218, 218); */
    background: #fff;
}

nav > div > ul > li > a.text-scroll{
    color: var(--brown);
    padding-left: 10px;
    font-weight: bold;
    /* margin-top: 10px; */
}

nav > div > ul > li > a.text-scroll:nth-child(1), nav > div > ul > li > a.text-scroll:nth-child(2), nav > div > ul > li > a.text-scroll:nth-child(3), nav > div > ul > li > a.text-scroll:nth-child(4){
    /* font-size: 32px; */
    /* padding-left: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: red; */
}

/* nav > div > ul > li > a.text-scroll:hover{} */

#main-nav{
    border-bottom: 3px solid var(--brown);
    /* background: transparent; */
}

#main-nav > a{
    color: var(--brown);
}

#main-nav > .nav-div{
    margin-left: 30%;
}

/* #main-nav > .nav-div > ul > li > nav-a, #main-nav > .navbar-brand{
    color: var(--brown);
} */

#main-nav > .nav-div > ul > li > #nav-a{
    font-size: 16px;
    color: var(--brown);
}

#main-nav > .nav-div > ul > li > #nav-a:hover{
    font-size: 14px;
    border-bottom: 3px solid var(--brown);
}

#main-nav > .nav-div > ul > li > .radius{
    border-radius: 10px;
    border: 1px solid #fff;
    margin-left: 5px;
    color: var(--brown);
}

#main-nav > .nav-div > ul > li > .radius:hover{
    background: var(--yellow);
    border: none;
}
/* navbar end */

/* profile-nav */
#profile-nav >{
    border-bottom: 3px solid var(--brown);
}

#profile-nav > .profile-nav-div{
    margin-left: 35%;
}

#profile-nav > .profile-nav-div > ul > li > #profile-nav-a{
    font-size: 16px;
    padding-right: 10px;
    /* color: var(--brown); */
}

#profile-nav > .profile-nav-div > ul > li > #profile-nav-a:hover{
    font-size: 14px;
    border-bottom: 3px solid var(--brown);
}
/* profile-nav end */


/* header */
.header-wrapper{
    background: rgb(243, 85, 85) url("../img/main-slider-3-2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 76vh;
    margin-top: 0px;
    overflow: auto;
    background-blend-mode: multiply;
}

.header-div{
    border-radius: 10px;
    width: 40%;
    padding: 25px;
    position: absolute;
    margin-left: 27%;
    margin-top: 90px;
    background-color: var(--yellow);
    opacity: 0.9;
}

.div-one h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.div-one p{
    /* font-size: 16px; */
    /* font-weight: 600; */
    margin-bottom: 40px;
}

.header-div-form > ul{
    margin-left: -35px;
}
.header-div-form > ul > li{
    display: inline-block;
    list-style: none;
    border: 2px solid var(--brown);
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px;
    color: var(--white);
}

.header-form > input{
    /* display: inline-block; */
    border-radius: 10px;
    border: 1px solid var(--brown);
    padding: 10px;
    width: 70%;
    background-color: transparent;
    color: var(--white);
}

.header-form > button{
    border: 1px solid var(--brown);
    padding: 10px;
    border-radius: 10px;
    /* width: 10%; */
    background: var(--brown);
    color: var(--white);
}

/* .main-row-div > div{
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    border: 1px solid black;
    width: 5%;
} */

/* header end */

/* main */
    .container-fluid{
        overflow: auto;
    }

    .container-fluid > div{
        background-blend-mode: multiply;
    }

    /* .container-fluid > div:nth-child(2){
        background: #f00 url("../img/main-slider-2-2.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */

    /* .container-fluid > div:nth-child(3){
        background: #00f url("../img/main-slider-2-2.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */

    /* .container-fluid > div:nth-child(4){
        background: #ff0 url("../img/main-slider-2-2.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */
    /* .container-fluid > div:nth-child(){
        background: #f0f url("../img/main-slider-2-2.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */

    /* .container-fluid > div:nth-child(10){
        background: rgb(0, 255, 21) url("../img/main-slider-2-2.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */

    /* .container-fluid > div:nth-child(11){
        background: rgb(255, 0, 242) url("../img/main-slider-2-2.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */

    /* .container-fluid > div:nth-child(9){
        background: rgb(0, 255, 234) url("../img/main-slider-2-2.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */

    .div-playstore ul li{
        list-style: none;
        /* margin-left: 5px; */
    }

    .div-playstore > ul >  li{
        margin-left: 20px;
    }
    .div-star >ul > li{
        list-style: none;
    }

    .mid-wrapper{
        background: rgba(244, 255, 244, 0.5);
    }
    .mid-wrapper > div > h3{
        font-weight: 600;
        font-size: 35px;
        margin-top: 30px;
    }

    .mid-wrapper > div > ul >li{
        font-weight: 600;
        list-style: none;
        padding: 10px;
    }
    .ul-check > li > i{
        color: green;
    }

    /* popular-project */
    .pupolar-div-two{
        display: none;
    }
    .main-row-div{
        display: flex;
        flex-wrap: nowrap;
    }

    .main-row-div > div > .card-div{
        width: 18rem;
        margin: 10px;
        border-radius: 10px;
        box-shadow:  0 0 6px 2px;
    }

    .main-row-div > div > .card-div > img{
        width: 100%;
        height: 80%;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    /* popular-project end */

    /* slider */
    .slider-card-wrapper > .owl-theme{
        display: flex;
        flex-wrap: nowrap;
    }

    .slider-card{
        border: 1px solid black;
        border-radius: 10px;
        width: 350px;
        padding: 15px  15px  10px  15px;
        margin: 23px 23px 23px 15px;
    }
    .div-slider-img{
        display: flex;
        flex-wrap: nowrap;
    }

    /* .div-slider-img > .sm-div-slider-img{
        width: 100%;
    } */

    .div-slider-img > .sm-div-slider-img img{
        border-radius: 10px;
    }

    /* .div-slider-img > .sm-div-slider-img > div{
        border-radius: 10px;
        border: 1px solid red;
    } */
    
    .div-slider-img > .lg-div-slider-img{
        margin-left: -20px;
        width: 350%;
    }

    .featured{
        display: flex;
        flex-wrap: nowrap;
    }

    .featured > div > ul > li{
        list-style: none;
    }

    .featured > .featured-div-ul-one > ul > li{
        margin-left: -40px;
    }

    .featured > .featured-div-ul-two > ul > li{
        margin-left: 70px;
    }

    .owl-prev{
        left: 30px;
    }

    .owl-next{
        right: 30px;
    }

    .owl-prev, .owl-next{
        position: absolute;
        top: 30%;
    }

    .owl-prev span, .owl-next span{
        font-size: 60px;
        color: #787878;
    }

    .owl-theme > .owl-nav [class*="owl-"]:hover{
        background: transparent;
    }
    /* card slider end */

    /*  */
    .mid-wrapper-two{
        background: rgba(244, 255, 244, 0.5);
    }

    .mid-wrapper-two .check-div{
        /* margin-right: -5px; */
    }

    .mid-wrapper-two > div > h3{
        font-weight: 600;
        font-size: 35px;
        margin-top: 30px;
        /* margin-right: -10px; */
    }

    .mid-wrapper-two > div > p{
        /* margin-right: -10px; */
    }

    .mid-wrapper-two > div > ul >li{
        font-weight: 600;
        list-style: none;
        padding: 10px;
        /* margin-right: -10px; */
    }
    /*  */
    /* search */
    .search{
        margin-top: 80px;
        display: flex;
        flex-wrap: nowrap;
    }

    .search > .search-globe{
        margin-left: -40%;
    }

    .search > .search-globe > img{
        width: 15%;
    }

    .search > .search-location-div{
        margin-left: -50%;
        margin-top: 60px;
        width: 100%;
    }

    .search > .search-location-div > h3{
        color: var(--brown);
    }

    .search > .search-location-div >.location > .location_div_input > .input-group > input{
        border: 3px solid var(--brown);
        width: 30%;
        font-size: 16px;
        padding: 5px;
        margin-left: 30%;
        border-radius: 10px;
        box-shadow: none;
    }

    .search > .search-location-div > .location > .location_div_input > .input-group > button{
        border-radius: 10px;
        background: var(--brown);
        color: var(--white);
        border: none;
        padding: 8px;
        font-size: 18px;
    }

    .place-div{
        display: flex;
        flex-wrap: nowrap;
        margin-left: 35%;
        /* margin-top: 10px; */
    }

    .place-div div > h5{
        color: var(--lightRed);
        margin-left: 15px;
    }

    .place-div div > ul > li{
        list-style: none;
        font-size: 18px;
        font-weight: bold;
        color: var(--brown);
    }
    /* search end */
    /* tasker-tstimony */
    .tasker-tstimony{
        /* display: none; */
        perspective: 100rem;
        overflow: hidden;
    }

    .tasker-tstimony > h3{
        display: none;
        color: var(--brown);
        font-weight: 700;
        font: 40px;
    }

    .tasker-tstimony .tasker-testimony-h3-animation{
        opacity: 0;
        animation: moveTestimonia 1s .5s forwards;
    }

    .tasker-tstimony > p{
        display: none;
        color: var(--brown);
        font-weight: 600;
    }

    .tasker-tstimony .tasker-testimony-p-animation{
        opacity: 0;
        animation: moveTestimonia 1s .7s forwards;
    }

    .tasker-testimony-div{
        display: none;
        display: flex;
        flex-wrap: nowrap;
    }

    .tasker-testimony-div-animation{
        opacity: 0;
        animation: moveTestimonia 1s .9s forwards;
    }

    .tasker-testimony-div > div > img{
        border-radius: 50px;
        width: 60%;
        height: 25%;
        margin-right: -150px;
    }

    .time{
        color: grey;
    }

    @keyframes moveTestimonia{
        0%{
            transform: translateY(40rem)rotateY(-20deg);
        }

        100%{
            transform: translateY(0)rotateY(0);
            opacity: 1;
        }
    }
    /* tasker-tstimony */

    /* get-started */
    .get-started{
        background: rgba(244, 255, 244, 0.5);
        min-height: 70vh;
        /* padding-left: 25px; */
        /* margin: 0px 30px; */
    }

    .get-started > h3{
        font-weight: 600;
        text-align: center;
    }
    .get-started-one{
        border-right: 1px solid rgb(199, 196, 196);
    }

    .get-started-one > img, .get-started-two > img{
        width: 35%;
        margin: -20px 0 -20px 0px;
    }

    .get-started-one > a, .get-started-two > a{
        text-decoration: none;
        color: var(--white);
        background: var(--brown);
        border-radius: 10px;
        padding: 7px;
        /* font-weight: 600; */
        font-size: 20px;
    }

    .get-started-one > a{
        padding: 7px 25px;
        width: 70%;
    }

    .get-started-one > a:hover, .get-started-two > a:hover{
        background: var(--yellow);
    }
    /* get-started end */

    /* help-today */
    .help-today-h3{
        color: var(--brown);
        font-weight: 800;
        margin-left: 16%;
    }
    .help-today{
        display: flex;
        flex-wrap: nowrap;
        margin-left: 15%;
    }

    .help-today > div{
        border: 2px solid var(--brown);
        color: var(--brown);
        padding: 5px;
        border-radius: 10px;
        margin-left: 15px;
    }
    /* help-today end */
    .link-app > form > input{
        border: 2px solid var(--brown);
        width: 50%;
        font-size: 16px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: none;
    }

    .link-app > form > button{
        border-radius: 10px;
        background: var(--brown);
        color: var(--white);
        border: none;
        padding: 4px 10px;
        font-size: 18px;
    }
    .app-link-logo{
        margin-top: -35px;
    }

    .app-link-logo > img:hover{
        padding-top: 5px;
    }
/* main end */

/* footer */
    footer{
        margin-top: 20vh;
        background: #6c757d;
        min-height: 58vh;
    }

    .social_media{
        display: flex;
        flex-wrap: nowrap;
    }

    .social_media > h4, .footer-main-div > h4{
        color: rgb(214, 200, 200);
        margin-left: 40px;
    }

    .social_media > span{
        margin-top: 20px;
    }

    .social_media > span > a{
        text-decoration: none;
        padding: 10px;
        margin-right: 10px;
    }

    .social_media > span > a > .fa-facebook-f{
        font-size: 38px;
        color: #3B5998;
    }

    .social_media > span > a > .fa-facebook-f:hover{
        font-size: 35px;
    }

    .social_media > span > a > .fa-twitter{
        font-size: 38px;
        color: #1da1f2;
    }

    .social_media > span > a > .fa-twitter:hover{
        font-size: 35px;
    }

    .social_media > span > a > .fa-instagram{
        font-size: 38px;
        color: #e95950;
    }

    .social_media > span > a > .fa-instagram:hover{
        font-size: 35px;
    }

    .footer-main-div > ul > li{
        list-style: none;
        padding: 5px;
    }

    .footer-main-div > ul > li > a{
        color: rgb(248, 244, 244);
        text-decoration: none;
    }

    .footer-main-div > ul > li > a:hover{
        border-bottom: 2px solid var(--brown);
        padding-bottom: 8px;
        color: var(--brown);
        /* transition: ease-in-out; */
    }

    .single-li{
        color: rgb(248, 244, 244);
    }

    .mobile{
        margin-left: 50%;
    }

    .footer-help{
        text-decoration: none;
        border-radius: 10px;
        background: var(--brown);
        padding: 10px 20px;
        font-weight: 600;
        color: var(--white);
        margin-left: 30px;
    }

    .footer-help:hover{
        color: white;
        text-decoration: none;
    }
/* footer end */

/* @media start */
@media screen and (max-width: 396px){
    /* header start */
    .header-div{
        border-radius: 10px;
        width: 70%;
        padding: 25px;
        position: absolute;
        margin-right: 27%;
        margin-top: 10px;
        background-color: var(--yellow);
        opacity: 0.9;
        /* min-height: 20vh; */
    }

    .header-form > input{
        /* display: inline-block; */
        border-radius: 10px;
        border: 1px solid var(--brown);
        padding: 10px;
        width: 100%;
        background-color: transparent;
        color: var(--white);
    }

    .header-form > button{
        display: none;
    }

    .header-div-form > ul{
        margin-left: -35px;
        display: flex;
        flex-wrap: nowrap;
    }

    .header-div-form > ul > li{
        list-style: none;
        border: 2px solid var(--brown);
        margin-top: 10px;
        margin-right: 2px;
        padding: 1px;
        color: var(--white);
    }
    /* header end */

    /* div-wrapper */
    .div-wrapper{
        display: none;
    }
    /* div-wrapper end */

    /* pupolar-div start */
    .pupolar-div{
        display: none;
    }
    .pupolar-div-two{
        display: initial;
    }
    .pupolar-div > h3{
        /* margin-left: 1; */
        text-align: center;
    }

    /* .main-row-div > .owl-carousel{
        display: flex;
        flex-wrap: nowrap;
    } */

    .main-row > .owl-carousel > .owl-wrapper-outer{
        width: 46% !important;
    }

    .main-row-div > .owl-carousel > .owl-wrapper-outer > .owl-wrapper > .owl-item > .col-md-3{
        width: 10rem;
        height: 40vh;
        padding: 10px;
        border-radius: 10px;
        box-shadow:  5px 10px 18px #888888;
    }

    .main-row-div > .owl-carousel > div > .card-div{
        width: 2rem;
        margin: 10px;
        /* border-radius: 10px;
        box-shadow:  5px 10px 18px #888888; */
        /* height: 10vh; */
    }

    .main-row-div > .owl-carousel > .owl-wrapper-outer > .owl-wrapper > .owl-item > .col-md-3 > .card-div >img{
        height: 130px;
        width: 8rem;
    }
    /* pupolar-div end */

    /* card slider start */
    .slider-card-wrapper{
        display: flex;
        flex-wrap: nowrap;
    }

    .slider-card{
        border: 1px solid black;
        border-radius: 10px;
        width: 300px;
        padding: 15px  15px  10px  15px;
        margin: 23px 23px 23px 15px;
    }
    /* card slider end */

    /* location */
    .location > form > input{
        border: 2px solid var(--brown);
        width: 95%;
        font-size: 16px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: none;
    }

    .location > form > button{
        display: none;
    }

    .place-div{
        display: flex;
        flex-wrap: nowrap;
        margin-left: 0%;
        /* margin-top: 10px; */
    }

    .place-div div > h5{
        color: var(--lightRed);
        margin-left: 15px;
    }

    .place-div div > ul > li{
        list-style: none;
        font-size: 18px;
        font-weight: bold;
        color: var(--brown);
    }
    /* location end */

    /* testimony */
    .tasker-testimony-div-two{
        margin-top: 30px;
    }
    /* testimony end*/

    /* get-started */
    .get-started-one{
        border-right: none;
        margin-bottom: 40px;
    }
    /* get-started end */

       /* reg-response start */
       .reg-response{
           display: none;
       }

       .reg-response-two{
           display: block !important;
       }

       .reg-response-two > h3{
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 20px;
        color: var(--brown);
        text-align: center;
    }

    .reg-response-two > .reg-response-row-two{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .reg-response-two > .reg-response-row-two > .col-md-{
        flex-direction: row;
        /* margin-right: 5px; */
    }

    .reg-response-two > .reg-response-row-two > .col-col{
        margin-left: auto;
        /* text-align: center; */
    }
    .reg-response-two > .reg-response-row-two > .col-md- > h4{
        font-weight: bold;
        font-size: 27px;
    }

    .reg-response-two > .reg-response-row-two > .col-md- > p{
        /* font-size: 18px; */
        font-weight: 600;
        margin-top: -15px;
    }
    /* reg-response end */

     /* question-ask start */
     .question-ask > h3{
        color: var(--brown);
        font-weight: bold;
        font-size: 30px;
        margin-bottom: -5px;
        margin-left: 20px;
    }

    .question-ask-div{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .question-ask-div > .question-div-one{
        margin-left: 0px;
    }

    .question-div-two{
        margin-left: 0px;
    }

    .question-ask-div > div > ul > li{
        list-style: none;
        color: var(--brown);
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    /* question-ask end */

}
/* @media end */

/* index end */

/* signup page */
    .signup-wrapper{
        margin-top: 17vh;
    }

    .signup-div > p{
        color: var(--brown);
        font-weight: 600;
        font-size: 18px;
    }

    form > .label{
        font-weight: 600;
        font-size: 18px;
    }

    form > select{
        font-weight: bolder;
        color: var(--brown);
    }

    .signup-div > form > p{
        color: var(--brown);
        font-weight: bolder;
        font-size: 29px;
    }

    form > p span{
        color: var(--brown);
        font-weight: normal;
        font-size: 14px;
    }

    .signup-div-button{
        background: var(--yellow);
        border-radius: 10px;
        padding: 5px 10px;
        font-weight: 600;
        width: 100%;
        border: none;
        color: var(--brown);
    }

    .signup-div-button:hover{
        color: #fff;
    }

    .already-account{
        color: var(--brown);
        font-weight: bold;
    }

    .already-account > a{
        color: var(--yellow);
        text-decoration: none;
    }

    .already-account > a:hover{
        border-bottom: 2px solid var(--brown);
    }

    /* midcol-wrapper start */
    .midcol-wrapper > .j{
        border-bottom: 2px solid var(--yellow);
    }
    .midcol-wrapper h3{
        font-weight: bold;
    }
    .midcol-wrapper >.row > div > h3{
        font-size: 29px;
        font-weight: bolder;
    }

    .midcol-wrapper div > p{
        font-size: 16px;
        font-weight: 600;
    }
    /* midcol-wrapper end */

    /* reg-response start */
    .reg-response > h3{
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 70px;
        color: var(--brown);
    }

    .reg-response > .row{
        display: flex;
        flex-wrap: nowrap;
    }

    .reg-response > .row > .col-md-{
        flex-direction: row;
        margin-right: 70px;
    }

    .col-col{
        margin-left: 100px;
    }
    .reg-response > .row > .col-md- > h4{
        font-weight: bold;
        font-size: 27px;
    }

    .reg-response > .row > .col-md- > p{
        font-size: 18px;
        font-weight: 600;
    }

    .reg-response-two{
        display: none;
    }
    /* reg-response end */

    /* signup-testimony-div */
    .signup-testimony-div > span > i{
        font-size: 30px;
    }
    .signup-testimony-div p{
        color: var(--brown);
        margin-top: 60px;
        font-weight: 600;
        font-size: 18px;
        margin-left: 90px;
    }

    .signup-testimony-div > span{
        font-weight: 600;
        font-size: 12px;
        margin-left: 90px;
        color: var(--brown);
    }
    /* signup-testimony-div end */

    /* question-ask start */
    .question-ask > h3{
        color: var(--brown);
        font-weight: bold;
        font-size: 34px;
    }

    .question-ask-div{
        display: flex;
        flex-wrap: nowrap;
    }

    .question-ask-div > .question-div-one{
        margin-left: 60px;
    }

    .question-div-two{
        margin-left: 90px;
    }

    .question-ask-div > div > ul > li{
        list-style: none;
        color: var(--brown);
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    /* question-ask end */

    /* last-wrapper start */
    .last-wrapper{
        background: url("../img/sign up page banner.png") no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 70vh;
        /* width: 95%; */
        /* position: absolute; */
        /* margin-left: 20px; */
    }

    .last-wrapper > h3{
        font-size: 42px;
        font-weight: bold;
        position: absolute;
        margin-top: 50px;
        margin-left: 30%;
    }

    .last-wrapper > a{
        text-decoration: none;
        color: var(--white);
        border-radius: 10px;
        background: var(--brown);
        padding: 7px 30px;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        margin-top: 20vh;
    }

    .last-wrapper > a:hover{
        background: var(--yellow);
    }

    .last-wrapper > div{
        position: absolute;
        margin-top: 25vh;
        margin-left: 240px;
    }

    .last-wrapper > div a > img:hover{
        padding: 5px;
    }
    /* last-wrapper end */

    /* dashboard-wrapper start*/
    .dashboard-wrapper{
        background: rgba(244, 255, 244, 0.5);
        height: 90vh;
        margin-top: 8rem;
        margin-bottom: 35vh;
    }

    .dashboard-wrapper > h1{
        /* position: absolute; */
        margin-left: 40px;
        font-weight: bold;
        font-size: 52px;
        /* top: 40px; */
        /* margin-top: 50px; */
    }

    .dashboard-wrapper > .row{
        margin: 10px 40px 0px;
        background: #fff;
    }

    .dashboard-wrapper > .row > div{
        border: 2px solid var(--altWhite);
    }

    .dashboard-wrapper > .row > .dashboard-wrapper-col-one{
        width: 5%;
    }

    .dashboard-wrapper > .row > .dashboard-wrapper-col-one > ul >li{
        list-style: none;
        padding: 10px 0px;
        font-size: 18px;
        color: gray;
        cursor: pointer;
        margin-left: -20px;
    }

    .dashboard-wrapper > .row > .dashboard-wrapper-col-one > ul >li:hover{
        /* background: rgba(244, 255, 244, 0.5); */
        /* background: red; */
        color: var(--brown);
        font-weight: 20px;
        /* border-left: 4px solid var(--brown); */
        padding-left: 20px;
        cursor: pointer;
    }

    .dashboard-wrapper > .row > .dashboard-wrapper-col-one > ul > .active{
        background: rgba(244, 255, 244, 0.5);
        /* background: var(--altWhite); */
        color: var(--brown);
        font-weight: 20px;
        border-left: 4px solid var(--brown);
        /* padding-left: -10px; */
        cursor: pointer;
    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .dashboard_wrapper_col_two_h5_div, .dashboard-wrapper-col-two > .user_profile_wrap > h5{
        border-bottom: 2px solid var(--altWhite);
        padding-bottom: 2px;
    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .dashboard_wrapper_col_two_h5_div > span{
        float: right;
        margin-top: -10px;
    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .dashboard_wrapper_col_two_h5_div > span > button{
        border-radius: 10px;
        font-size: 24px;
        font-weight: bold;
        color: var(--brown);
        padding: 3px;
        background: transparent;
        border: 4px solid var(--brown);

    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .dashboard_wrapper_col_two_h5_div > h5{
        font-size: 32px;
        font-weight: bold;
        /* margin-top: -90%; */
    }

    /* Dashboard change password */
    .dashboard-wrapper-col-two > .user_profile_wrap > .account-div  > form > input{
        width: 50%;
        padding: 1.5rem;
    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .account-div > form > .change-password-button{
        background: var(--brown);
        color: var(--yellow);
        padding: 8px 15px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 16px;
    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .account-div > form > .change-password-button:hover{
        color: #fff;
    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .account-div > form > .cancel-password-button{
        background: transparent;
        color: var(--brown);
        padding: 10px 16px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 16px;
        border: 2px solid var(--altWhite);
    }
    /* Dashboard change password */
    .helper-wrapper > a{
        width: 5%;
        text-decoration: none;
        border-radius: 10px;
        background: var(--brown);
        padding: 10px 17px;
        font-weight: 600;
        font-size: 18px;
        color: var(--white);
        margin-left: 30px;
    }

    /* .dashboard-wrapper-col-two > .account-div{
        display: flex;
        flex-wrap: nowrap;
        
    } */

    .dashboard-wrapper-col-two > .user_profile_wrap > .account-div > .row > .account-div-one > img{
        border: 3px solid var(--altWhite);
        border-radius: 50%;
        width: 80%;
        height: 25vh;
    }

    .dashboard-wrapper-col-two > .user_profile_wrap > .account-div > .row > .account-div-two{
        margin-left: -20px;
    }
    .dashboard-wrapper-col-two > .user_profile_wrap > .account-div > .row > .account-div-two > ul > li{
        list-style: none;
        padding: 10px 0px;
        font-size: 16px;
        /* color: gray; */
    }

    .profile-logout{
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        color: grey;
        padding: 5px;
        background: transparent;
        border: 4px solid var(--altWhite);
        margin-left: 45px;
        text-decoration: none;

    }

    .profile-logout:hover{
        background: rgb(243, 61, 61);
        color: #fff;
        /* border: 4px solid var(--altWhite); */
    }
    /* dashboard-wrapper end */
/* signup page end */

/* Task details  start*/
    /* details-wrapper start */
    .details-wrapper > h5{
        /* font-size: 2px; */
        font-weight: bold;
    }

    .expect{
        border: 1px solid rgb(209, 207, 207);
        padding: 30px 20px;
        display: flex;
        flex-wrap: nowrap;
    }

    .expect > div > img{
        margin-right: -100px;
    }

    .popover-btn{
        border: none;
        background: transparent;
        color: var(--brown);
        font-weight: 600;
    }

    .expect > div > h6{
        font-weight: bold;
    }
    /* details-wrapper end */

    /* address-input start */
    .address-input{
        border: 1px solid var(--altWhite);
        padding: 30px 20px;
    }

    .address-input > div{
        display: flex;
        flex-wrap: nowrap;
    }

    .address-input > div > .input-unit{
        margin-right: 10px;
    }

    .address-input > div > .input-unit-two{
        width: 20vh;
    }

    .address-input > button{
        margin-left: 45%;
        color: #fff;
        background: var(--brown);
        font-weight: bold;
    }
    /* address-input end */

    /* adress-optional start */
    .adress-optional > input{
        padding: 30px;
    }
    /* adress-optional end */

    /* task-option start */
    .task-option{
        border: 1px solid var(--altWhite);
        padding: 30px 20px;
    }

    .task-option > p{
        font-weight: 600;
    }

    .task-option > h6{
        font-weight: bold;
        color: var(--brown);
        width: 15.1%;
        border-bottom: 2px solid var(--altWhite);
        padding-bottom: 10px;
    }

    .task-option-div{
        display: flex;
        flex-wrap: nowrap;
    }

    .task-option-div > .task-option-div-one, .task-option-div > .task-option-div-two{
        padding-right: 40vh;
    }

    .task-option-div > div >span{
        font-weight: 600;
    }

    .task-option > form > h6{
        font-weight: bold;
        color: var(--brown);
        width: 15.3%;
        border-bottom: 2px solid var(--altWhite);
        padding-bottom: 10px;
    }

    .task-option > form > .task-option-button{
        /* width: 10%; */
        margin-left: 45%;
        color: #fff;
        background: var(--brown);
        font-weight: bold;
    }

    
    /* task-option end */

    /* full-details-task start */
    .full-details-task{
        border: 1px solid var(--altWhite);
        padding: 30px 20px;
        margin-bottom: 170px;
    }

    .full-details-task > h6{
        font-weight: 600;
    }

    .full-details-task > p, .full-details-task > form > p{
        font-weight: 400;
    }

    .full-details-task > form > textarea{
        width: 145vh;
    }

    .full-details-task > form > a{
        margin-left: 45%;
        color: #fff;
        background: var(--brown);
        font-weight: bold;
        text-decoration: none;
        border: 10px;
    }

    .help-adjust{
        margin-left: -5px;
        /* margin-bottom: 40px; */
    }
    /* full-details-task end */
/* Task details end */

/* Reset password page start */
    .password_rest{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid var(--altWhite);
        padding: 10px;
        width: 30%;
    }
/* Reset password page end */